task23/claude-4.5-opus/autogen
task23/claude-4.5-sonnet/autogen
task23/deepseek-v3.2/autogen
task23/gemini-3-pro/autogen
task23/glm-4.6/autogen
task23/grok-4.1-fast/autogen
task23/kimi-k2-thinking/autogen
task23/qwen3-235b-a22b-thinking-2507/autogen
task23/gpt-5.2/autogen

task24/claude-4.5-opus/autogen
task24/claude-4.5-sonnet/autogen
task24/deepseek-v3.2/autogen
task24/gemini-3-pro/autogen
task24/glm-4.6/autogen
task24/grok-4.1-fast/autogen
task24/kimi-k2-thinking/autogen
task24/qwen3-235b-a22b-thinking-2507/autogen
task24/gpt-5.2/autogen
plot/